# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [2]:
# load postgresql database server password as an environmental variable
load_dotenv()

True

In [3]:
db_key = os.getenv("my_pass")
type(db_key)

str

In [4]:
# Create a connection to the database
engine = create_engine(f"postgresql://postgres:{db_key}@localhost:5432/fraud_detection")

In [5]:
# Write function that locates outliers using standard deviation
def find_anomalities_sd(card_holder_id: str = '1'):
    
    # Query the database
    query = f"""
            SELECT t.date, t.amount, t.card
            FROM transaction as t 
            INNER JOIN credit_card AS cc ON cc.card = t.card
            INNER JOIN card_holder AS ch ON ch.id = cc.cardholder_id
            WHERE ch.id = {card_holder_id}  
            ORDER BY t.date
            """
    # Use pandas to create a df from query results
    df = pd.read_sql(query, engine)
    
    # Calculate the mean and std for the t.amount columns
    amount_avg = df['amount'].mean()
    amount_std = df['amount'].std()
    
    # We will use 2 standard deviations for the purpose of our analysis
    lower = amount_avg - (amount_std * 2)
    higher = amount_avg + (amount_std * 2)
    
    # Use a list comprehension to retrieve transactions that are 2 std below/above the mean
    lower_transactions = [amount for amount in df['amount'] if amount < lower]
    higher_transactions = [amount for amount in df['amount'] if amount > higher]
    
    # Create a final list of results
    final_list = lower_transactions + higher_transactions
    
    # Print statistics
    print(f"Average amount: {round(amount_avg, 2)}")
    print(f"Standard deviation: {round(amount_std, 2)}")
    print(f"Lower cut off: {round(lower, 2)}")
    print(f"Upper cut off: {round(higher, 2)}")
    
    # If final_list is not empty
    if final_list: 
        # Modify the df to maintain only the records where amount is part of the final_list
        df = df[df['amount'].isin(final_list)]
        # return df
        return df
    else: 
        return "No signs of fraudelent transactions were found"

In [6]:
# Find anomalous transactions for 3 random card holders
# Create a list to hold unique id values
card_holder_id =[]

# Create loop to generate random id numbers
for i in range(100):
    # random id numbers between 1 and 25 
    _id = np.random.randint(1,25)
    
    # Append id number only if it doesn't exist in card_holder_id list.
    if _id not in card_holder_id: 
        card_holder_id.append(_id)
    
    # Once we have three id numbers, call the find_anomalities_sd() and break out of the main for loop
    if len(card_holder_id) == 5: 
        for x in card_holder_id: 
            print('*' * 100)
            print(f'LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID {x}')
            display(find_anomalities_sd(x))
            print()
        break

****************************************************************************************************
LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID 1
Average amount: 110.67
Standard deviation: 361.11
Lower cut off: -611.56
Upper cut off: 832.9

                   date  amount                 card
6   2018-01-24 13:17:19  1691.0  4761049645711555811
70  2018-07-31 05:15:17  1302.0  4761049645711555811
79  2018-09-04 01:35:39  1790.0  4761049645711555811
80  2018-09-06 08:28:55  1017.0  4761049645711555811
81  2018-09-06 21:55:02  1056.0  4761049645711555811
91  2018-09-26 08:48:40  1060.0  4761049645711555811
116 2018-11-27 17:27:34  1660.0  4761049645711555811
121 2018-12-07 07:22:03  1894.0  4761049645711555811
132 2018-12-30 23:23:09  1033.0  4761049645711555811

****************************************************************************************************
LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID 3
Average amount: 139.17
Standard deviation: 329.36
Lower cut off: -519.54
Upper cut off: 797.88

                  date  amount            card
3  2018-03-01 21:29:05  1119.0  30078299053512
23 2018-07-11 16:55:22  1159.0  30078299053512
24 2018-07-14 06:09:18  1160.0  30078299053512
43 2018-10-19 01:07:37  1053.0  30078299053512
47 2018-11-20 05:24:28  1054.0  30078299053512

****************************************************************************************************
LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID 11
Average amount: 9.01
Standard deviation: 5.69
Lower cut off: -2.37
Upper cut off: 20.39

                  date  amount              card
82 2018-05-23 14:58:23    20.7  4027907156459098

****************************************************************************************************
LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID 8
Average amount: 8.39
Standard deviation: 5.67
Lower cut off: -2.96
Upper cut off: 19.73

                   date  amount              card
19  2018-03-08 20:11:49   20.71    30063281385429
107 2018-12-05 13:07:50   20.29  4834483169177062
112 2018-12-08 18:32:01   21.61    30063281385429

****************************************************************************************************
LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID 14
Average amount: 10.0
Standard deviation: 6.56
Lower cut off: -3.12
Upper cut off: 23.12

'No signs of fraudelent transactions were found'

## Identifying Outliers Using Interquartile Range
[An interquartile range is a measure of where the bulk of the values lie](https://www.statisticshowto.com/probability-and-statistics/interquartile-range/)

$IQR$ = $Q_3$ - $Q_1$

Here we will assume that any transaction that is below/above the quartiles($Q_1$, $Q_3$) by more than 1.5 of IQR, is a fraudelent transaction.

In [7]:
# Write a function that locates outliers using interquartile range
def find_anomalities_iqr(card_holder_id: str = '1'):
    
    # Query the database
    query = f"""
            SELECT t.date, t.amount, t.card
            FROM transaction as t 
            INNER JOIN credit_card AS cc ON cc.card = t.card
            INNER JOIN card_holder AS ch ON ch.id = cc.cardholder_id
            WHERE ch.id = {card_holder_id}  
            ORDER BY t.date
            """
    # Use pandas to create a df from query results
    df = pd.read_sql(query, engine)
    
    # Compute interquartile range uisng np.percentile()
    Q_1 = np.percentile(df['amount'], 25)
    Q_3 = np.percentile(df['amount'], 75)
    
    iqr = Q_3 - Q_1
    
    # Outlier are found outside the IQR
    outliers = iqr * 1.5
    
    # Use a list comprehension to retrieve transactions that are 2 std below/above the mean
    lower_transactions = [amount for amount in df['amount'] if amount < (Q_1 - outliers)]
    higher_transactions = [amount for amount in df['amount'] if amount > (Q_3 + outliers)]
    
    # Create a final list of results
    final_list = lower_transactions + higher_transactions
    
    # Print statistics
    print(f"25th Percentile: {round(Q_1, 2)}")
    print(f"75th Percentile: {round(Q_3, 2)}")
    print(f"IQR: {round(iqr, 2)}")
    print(f"Lower cut off: {round(Q_1 - outliers, 2)}")
    print(f"Upper cut off: {round(Q_3 + outliers, 2)}")
                            
    
    # If final_list is not empty
    if final_list: 
        # Modify the df to maintain only the records where amount is part of the final_list
        df = df[df['amount'].isin(final_list)]
        # return df
        return df
    else: 
        return "No signs of fraudelent transactions were found"

In [8]:
# Find anomalous transactions for 3 random card holders
# We will use the same card_holder_id list generated above for comparison
for x in card_holder_id: 
    print('*' * 100)
    print(f'LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID {x}')
    display(find_anomalities_iqr(x))
    print()

****************************************************************************************************
LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID 1
25th Percentile: 5.32
75th Percentile: 15.78
IQR: 10.46
Lower cut off: -10.37
Upper cut off: 31.47

                   date  amount                 card
6   2018-01-24 13:17:19  1691.0  4761049645711555811
41  2018-04-09 10:24:32   283.0  4761049645711555811
70  2018-07-31 05:15:17  1302.0  4761049645711555811
79  2018-09-04 01:35:39  1790.0  4761049645711555811
80  2018-09-06 08:28:55  1017.0  4761049645711555811
81  2018-09-06 21:55:02  1056.0  4761049645711555811
91  2018-09-26 08:48:40  1060.0  4761049645711555811
100 2018-10-16 13:27:33   484.0  4761049645711555811
115 2018-11-26 20:54:39   267.0  4761049645711555811
116 2018-11-27 17:27:34  1660.0  4761049645711555811
121 2018-12-07 07:22:03  1894.0  4761049645711555811
132 2018-12-30 23:23:09  1033.0  4761049645711555811

****************************************************************************************************
LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID 3
25th Percentile: 5.44
75th Percentile: 15.94
IQR: 10.49
Lower cut off: -10.3
Upper cut off: 31.68

                  date  amount            card
3  2018-03-01 21:29:05  1119.0  30078299053512
23 2018-07-11 16:55:22  1159.0  30078299053512
24 2018-07-14 06:09:18  1160.0  30078299053512
30 2018-08-21 20:46:33   188.0  30078299053512
31 2018-09-09 03:39:06   626.0  30078299053512
39 2018-10-07 14:40:34   757.0  30078299053512
40 2018-10-11 23:29:33   206.0  30078299053512
43 2018-10-19 01:07:37  1053.0  30078299053512
47 2018-11-20 05:24:28  1054.0  30078299053512
55 2018-12-28 16:20:31   313.0  30078299053512

****************************************************************************************************
LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID 11
25th Percentile: 3.68
75th Percentile: 12.4
IQR: 8.72
Lower cut off: -9.41
Upper cut off: 25.49

'No signs of fraudelent transactions were found'

****************************************************************************************************
LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID 8
25th Percentile: 3.12
75th Percentile: 11.86
IQR: 8.74
Lower cut off: -9.99
Upper cut off: 24.97

'No signs of fraudelent transactions were found'

****************************************************************************************************
LOOKING FOR FRAUDELENT TRANSACTIONS FOR CARD HOLDER ID 14
25th Percentile: 3.26
75th Percentile: 16.13
IQR: 12.87
Lower cut off: -16.05
Upper cut off: 35.44

'No signs of fraudelent transactions were found'